.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .circle {
    width: 50px;
    height: 50px;
    border: 8px solid #f3f3f3; /* cor da borda */
    border-top: 8px solid #3498db; /* cor da borda superior */
    border-radius: 50%;
    animation: spin 1s linear infinite; /* Animação de rotação */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .message {
    margin-top: 20px;
    font-size: 18px;
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.5s ease-in-out; /* Transição suave de opacidade */
  }
  
  .loaded .message {
    opacity: 1; /* Mensagem visível quando carregado */
  }
  